
.video-bg{
    background-color: #000000;
    z-index: -1;
}

.menubody-sectinons{
    padding: 10px 0 0;
    background-color: #000;
}

.banner{
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-copys>h2{
    margin: 70px 20px 0;
    color: #E35205;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.banner-copys>h2>sup{
    font-size: 18px;
}

.banner__imgblock{
    margin: 80px 0 100px;
    display: flex;
    gap: 5rem;
}

.banner__imgblock-left{
    margin: 40px 0;
    padding: 50px 50px 50px 0;
    border-right: 2px solid #fff;
    align-items: center;
}

.banner__imgblock-leftimg{
    display: flex;
    justify-content: center;
}

.banner__imgblock-left>p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
/* banner Section */

/* mgd Section */
.mgdbox-container{
    width: 800px;
    margin: auto;
    padding: 50px;
    border: 2px solid #fff;
}

.mgdbox-container>h2{
    margin-bottom: 50px;
    color: #E35205;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.mgdbox-container>p,
.mgdbox-icon>p{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.mgdbox-iconsbox{
    padding: 40px 0 10px;
    display: flex;
    gap: 50px;
}

.mgdbox-icon{
    width: 200px;
}
.mgdbox-iconimg{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.mgdcycle-container{
    width: 740px;
    margin: 100px auto;
    text-align: center;
}

.mgdcycle-container>h2{
    color: #E35205;
    font-size: 32px;
    font-weight: 600;
}

.mgdcycle-container p{
    margin: 40px 110px 30px;
    color: #fff;
    font: 400 20px/26px 'Source Sans Pro';
}

.mgdcycle-container .f-note{
    margin: 0px;
    font-size: 14px;
}
/* mgd Section */

/* causes callout Section */
.readpaper__container{
    margin: auto;
    padding: 10px 0;
    align-items: start;
}

.readpaper-body{
    margin-right: 8rem;
}

.readpaper-body p:first-child{
    color: #fff;
    font: 600 22px/30px 'Source Sans Pro';
}

.readpaper-body p:nth-child(2){
    margin: 20px 20px 20px 0;
    color: #fff;
    font: 400 20px/26px 'Source Sans Pro';
}

.impact-cause-callout{
    color: #fff;
    width: 860px;
    margin: 100px auto;
    padding: 80px 0px;
    display: flex;
    gap: 7rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.impact-cause-callout h3{
    padding-bottom: 35px;
    color: #E35205;
    font: 700 38px/40px 'Barlow Condensed';
    /* font-size: 38px;
    font-weight: 700; */
}
.impact-cause-callout h3 sup{
    line-height: 0px;
}