*{
    margin: 0;
    padding: 0;
}

/*     --  Header  --    */
#header{
    background-image: url(/assets/img/Fitness_img/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.navbar-nav li a{
    float: right;
    color: #fff !important;
}

.navbar-brand img{
    width: 150px;
    margin-left: 30px;
}

.navbar-toggler{
    border: none!important;
    outline: none !important;
}

nav .fa-bars{
    color: #fff;
    font-size: 26px;
}
/*     --  Header End  --    */

/*     --  Welcome Text  --    */
.welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.welcome h1{
    color: #333;
    letter-spacing: 1px;
}

.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    background: #013f7e;
    color: #fff;
}

.welcome .btn:hover{
    color: #fff;
}

.welcome .btn:focus{
    box-shadow: none;
    color: #fff;
}
/*     --  Welcome Text End  --    */

/*     --  About Us  --    */
#about{
    padding: 100px 0;
}

#about .col-md-6{
    padding: 20px 10px;
}

#about h3{
    margin: 20px auto;
}
/*     --  About Us End  --    */

/*     --  Services  --    */
#services{
    background-color: #efefef;
    padding: 80px 0;
}

#services .col-md-4{
    padding: 20px;
}

#services .col-md-4 h4{
    padding: 5px;
}

#services .col-md-4 img{
    width: 50px;
}

#services .col-md-4 p{
    padding: 5px;
    text-align: justify;
}
/*     --  Services End  --    */

/*     --  Features  --    */
#features{
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/assets/img/Fitness_img/feature-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

#features .col-md-6{
    padding: 20px;
}
 
.features-box{
    height: 120px;
}

.features-box .features-left{
    height: 120px;
    width: 20%;
    float: left;
}

.features-box .features-left .fa-solid{
    padding-top: 13px;
    font-size: 50px;
}

.features-box .features-right{
    height: 120px;
    width: 80%;
    float: left;
}

.features-box .features-right h4{
    padding: 10px 0 0 15px;
    text-align: left;
}

.features-box .features-right p{
    padding: 0px 0 0 15px;
    text-align: left;
}
/*     --  Features End  --    */

/*     --  Testimonilas  --    */
#testimonilas{
    padding: 100px 0;
}

#testimonilas .col-md-4{
    padding: 10px 30px;
    transition: .5s;
}

#testimonilas img{
    width: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #fff;
    margin-bottom: 30px;
    transition: 1s;
}

.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

#testimonilas .col-md-4:hover{
    transform: scale(1.1);
}

.review .fa-brands{
    color: #013f7e;
}

#testimonilas span{
    color: #013f7e;
    font-size: 18px;
    font-weight: 600;
}

#testimonilas h1{
    margin-bottom: 20px;
    color: #013f7e;
}

#testimonilas p{
    padding-bottom: 20px;
}

#testimonilas .middle{
    margin-top: -30px;
    margin-bottom: -30px;
}
/*     --  Testimonilas End  --    */

/*     --  Subscribe  --    */
.subscribe{
    margin-bottom: -160px;
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.subscribe h3, .subscribe p{
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.subscribe .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}

.subscribe .form-control{
    border: none;
    background: transparent;
}

.subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
}

.subscribe .input-group-text{
    background-image: linear-gradient(to right, #013f75, #5c8bef);
    border-radius: 30px;
    border: none;
    color: #fff;
}

.subscribe .input-group-text:hover{
    border: none;
    color: #fff;
}

.subscribe .input-group-text:focus{
    border: none;
    color: #fff;
    box-shadow: none;
}
/*     --  Subscribe End  --    */

/*     --  Footer  --    */
#footer{
    margin-top: 80px;
    padding: 100px 0 40px;
    background-color: #efefef;
    color: #013f75;
}

.footer-logo{
    width: 150px;
    margin: 25px 0 15px;
    text-align: justify;
}

#footer .footer-content{
    text-align: justify;
}

#footer h1{
    margin: 25px 0;
    font-size: 15px;
    text-align: left;
}

#footer p{
    font-size: 12px;
    text-align: left;
}

#footer .f-left-space{
    margin-left: 50px;
}

#footer .city{
    margin-left: 40px;
}

#footer .fa-solid, #footer .fa-brands{
    padding-right: 20px;
    font-size: 15px;
}

#footer hr{
    margin-top: 10px;
    font-size: 1px;
}  

#footer .fa-regular{
    font-size: 17px;
    color: #ff0000;
}

#footer .copyright{
    font-size: 15px;
    text-align: center;
}
/*     --  Footer End  --    */

/*     --  Up Arrow  --    */
#up-arrow{
    top: 70%;
    transform: translateY(50px);
    position: sticky;
    z-index: 1;
}

#up-arrow .arrow-space{
    margin: 0 40px;
}

#up-arrow .arrow{
    float: right;
}

#up-arrow .arrow i{
    padding: 15px 17px;
    background: #013f75;
    color: #fff;
    font-size: 20px;
    /*
    border-radius: 60%;  */
    opacity: .7;
}  

#up-arrow .arrow i:hover{
    opacity: .9;
    transform: scale(1.1);
}



/*     --  users-review  --    */
.users-feedback{
    padding: 100px 0;
}

.users-feedback h1{
    margin-bottom: 40px;
    text-align: center;
}

.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 #00006433;
    padding: 0px 0px 50px;
}

.user-review p{
    margin: -50px 10px 10px;
}

.users-feedback img{
    width: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 44%; 
}

.user-review p::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}

.review-quat{
    margin: -100px;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
}